html {
    height: 100%;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #021c72;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} /* the navigation bar to move from one page to the other on the side*/

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a.active {
    background-color: red;
    color: white;
} /*class that makes a certain word be highlighted showing there on that page*/

.sidenav a.nonActive:hover {
    color:red;
}

.sidenav a:hover {
    color: black;
} /*effect for when you hover over element*/

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} /*element to seeting where the button to close the nav bar is*/