*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #160856;
    --color: #29282D;
    --button: #880AC4;
}

body {
    min-height: 100vh;
}

#error{
    display: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: calc(50vw - 280px);
    transform: translateY(-34px);
}

#error2 {
    display: none;
    color: red;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: calc(50vw - 280px);
    transform: translateY(-34px);
}

.talk-bubble {
	margin: 40px;
    display: inline-block;
    position: relative;
	width: 200px;
	height: auto;
    background-color: lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/

.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 30px;
	bottom: 80px;
    transform: rotate(180deg) rotateY(180deg);
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 36px;
    bottom: 80px;
    transform: rotate(180deg) rotateY(180deg);
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}



#error2.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 30px;
	bottom: 104px;
    transform: rotate(180deg) rotateY(180deg);
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

#error2.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: 36px;
    bottom: 104px;
    transform: rotate(180deg) rotateY(180deg);
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.border{
  border: 8px solid #666;
}

/* talk bubble contents */

.talktext{
    padding: 1em;
	text-align: left;
    line-height: 1.5em;
}

.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* Input/Form Styles */

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form p {
    color: var(--color);
    font-size: 24px;
}

form input[type=text] {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

form input[type=submit] {
    background-color: var(--button);
    outline: none;
    width: 150px;
    height: 25px;
}