.plane {
    width: 350px;
    height: 100px;
    animation: planeMove alternate 5s;
    transform: rotateY(180deg) translate(-200px, -300px) rotate(20deg); 
}

.background {
    width: 900px;
    height: 600px;
}

@keyframes planeMove{
    0% {
        transform: rotateY(180deg) translate(-700px, -400px) rotate(20deg);
    }

    100% {
        transform: rotateY(180deg) translate(-200px, -300px) rotate(20deg); 
    }
}