html {
    background-color: rgb(22, 22, 22);
}

body {
    color: white;
}

.srtname {
    text-align: center;
}

.srtsize {
    text-align: center;
}

.srtnmbr {
    width: 140px;
    text-align: center;
}

.Signup_Form_box {
    text-align: center;
}




/* "clog": {
    "prefix": "clog",
    "body": [
      "console.log(`$1`)",
      
    ],
    "description": "console.log(``)"
},

"function": {
    "prefix": "!f()",
    "body": [
      "function (){",
      "",
      "}"
    ],
    "description": "function"
  },

"or": {
    "prefix": "or",
    "body": [
        "|| "
    ],
    "description": " || "
},

"and": {
    "prefix": "and",
    "body": [
        "&& "
    ],
    "description": " && "
}, */