* {
    font-size: 20px;
}

.float1 {
    float: left;
    padding: 30px;
}

.float2 {
    float: right;
    padding: 30px;
}

.float {
    width: 100px;
    height: 100px;
    background-color: lightsteelblue;
    border-radius: 5px;
    margin: 10px;
}

.box {
    max-width: 450px;
}