body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 155, 56);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-size: 3em;
    border-bottom: 2px solid blue;
}

hr {
    transform: translateY(-20px);
}

a {
    color: orangered;
}

ul {
    border: 2px solid palevioletred;
}

.job-title {
    color: grey;
    font-weight: bold;
}

#nav {
    text-decoration: underline dotted black;
    text-decoration-color: palegreen;
    color:purple;
}

a[href="http://google.com"] {
    color: red
}

a[href="http://wikipedia.org"] {
    color: gray;
}

a[href="http://w3schools.com"] {
    color: limegreen;
}

a[href="http://developer.mozilla.org"] {
    color: lightblue;
}

a[href="http://github.com"] {
    color:  green;
}

li::first-letter {
    font-size: 2em;
    font-size: 200%;
    font-family: fantasy;
}

li::after {
    content: ".com";
}

a:hover{
    text-decoration: none;
}